# Rust / Cargo
target/
.cargo_check/
rustc-ice*.txt
crate/server/Cargo.toml.bak
vendor/

# Security / Secrets
data/keys
.env

# Runtime artifacts / Local Data
data/html
crate/cli/*.sqlite
**/*cosmian-kms/sqlite-data*
# this directory may contain sqlite data when the KMS is launched locally
**/*cosmian-kms*
http_cache.sqlite
result*
sbom.*
resources/cli.zip
**/data/private
**/data/public
**/data/shared
.cache

# HSM / Crypto Libraries
.openssl
resources/tarballs/openssl-3.1.2.tar.gz
.utimaco
.softhsm2
*.xz*

# UI / Node
node_modules/
crate/server/ui*
ui_non_fips/
ui/test-results

# OS / IDE / AI
.DS_Store
.idea/
*.swp
.history/
.aider/
.claude
.vscode/
.agent/
.agents/

# Other
TODO.md
.venv/
.local
**/*__pycache__*
run.sh
